.filter {
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 80vh;
  opacity: 0.5;
  width: 20%;
  display: flex;
}
.filter-container {
  display: flex;
  flex-direction: column;
}

.filter-icon{
  height: 27px;
}