.footer {
  width: 95%;
  height: 100%;
  background-color: orange;
  display: flex;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  user-select: none;
  overflow-x: hidden;
  cursor: pointer;
}

.footer-grab {
  cursor: grab;
}