.main-container {
  width: 100%;
  height: 100vh;
  background-image: url(../../../public/background.jpeg);
  background-size: cover;
}
.ship-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.footer-container{
  height: 20vh;
  display: flex;
}
.footer-buttons {
  display: flex;
  flex-direction: column;
  width: 90px;
}
.info-window {
  position: absolute;
  right: 0;
}
.show-button {
  color: white;
  cursor: pointer;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  border-top: none;
  border-left: solid 1px rgba(0, 0, 0, 0.4);
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
}